@import './styles/globals.css';
@import './styles/Home.module.css';
@import '../public/css/style.css';
.dizme_tm_news ul li .image {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 12px;
}
.dizme_tm_news ul li .image img {
    position: relative;
    opacity: 0;
    min-width: 100%;
}
.dizme_tm_modalbox .news_popup_informations .image .main {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
}
.dizme_tm_news ul li .image:hover .main {
    transform: scale(1.1) translateZ(0);
}
.dizme_tm_modalbox .description_wrap {
    padding: 0px;
}
.dizme_tm_modalbox .news_popup_informations {
    width: 92%;
    height: auto;
    clear: both;
    float: left;
    padding-left: 2.2rem;
}
